  .photo01{
  
  /*position: absolute;
  width: 1086px;
  height: 650px;
  left: -241px;
  top: 200px;
  
  background: #FFFFFF;
  border-radius: 61px;
  transform: rotate(-16.3deg);*/
    z-index: 0;
   }
  .me{
    position: absolute;
    width: 300px;
    height: 300px;
   /* left: 1100px;*/
    top: 180px;
    border-radius: 50%;
    
   }

   .minu{
    z-index: 1;
   
   }
   #block{
    position: absolute;
    left: 10%;
    right: 0;
    top: 250px;
    z-index: 1;
   }
   #backgr{
    background-color: black;
    z-index: -1;
   }

   
